


<div class="row mt-3 justify-content-center">
    
        <ul class="pagination">
            {% if noticia.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">Primera</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ noticia.previous_page_number }}">&laquo;</a>
                </li>
            {% endif %}

            {% if noticia.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ noticia.next_page_number }}">Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ noticia.paginator.num_pages }}">Ultima;</a>
                </li>
            {% endif %}

        </ul>
    
</div>


