{% extends 'base.html' %}
{% load static %}

{% block contenido %}
	


	<h1>DETALLE NOTICIA</h1>
	<br>

	<h2>{{object.titulo}}</h2>
	<p>CATEGORIA: {{ object.categoria.nombre }}</p>
	{% if object.autor %}
		<p>AUTOR: {{ object.autor }}</p>
	{% endif %}

	<p>CUERPO: {{ object.cuerpo }}</p>

	{% if object.imagen %}
		<img src="{{ object.imagen.url }}" width="100px" height="100px">
	{% else %}
		<p>NO TIENE IMAGEN </p>
	{% endif %}
	
	
	<h2> Comentarios</h2>

	<hr>

	<div data-gb-custom-block data-tag="for"></div>

    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text }}</p>
    </div>

	<div data-gb-custom-block data-tag="empty">

    	<p>No hay comentarios todavía :(</p>

	</div>
		


		
			
	

{% endblock contenido %}