{% extends 'base.html' %}
{% load static %}








{% block contenido %}
	


	<h1>NOTICIAS ACTUALES</h1>
	<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"method="GET">

		<div class="input-group">
			<input type="text" class="form-control bg-light border-5 small" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
				<div class="input-group-append">
					<i class="icon icon-search"></i>
					<button type="submit" class="boton btn-success">Buscar</button>
				</button>
			</div>
		</div>
	</form>
	<br>
		
					
		{% for n in notis %}
			{% if n.imagen %}
				<img src="{{ n.imagen.url }}" width="100px" height="100px">
			{% else %}
				<p>NO TIENE IMAGEN </p>
			{% endif %}
					<div class="card-body">
					<h5 class="card-title"><p>CATEGORIA: {{ n.categoria.nombre }}</p>
						{% if n.autor %}
							<p>AUTOR: {{ n.autor }}</p></h5>
						{% endif %}
							<h2>{{ n.titulo }}</h2>
							<p class="card-text"><p>CUERPO: {{ n.cuerpo }}</p></p>
							<a href="{% url 'noticias:detalle_noticias' n.pk %}" class="btn btn-primary">VER MAS</a>
						</div>
				 	 </div>		  
			{% endfor %}

			{% include 'paginacion.html' %}

{% endblock contenido %}
			
	

		

		
		
	















				<!--  
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->



