{% extends 'base.html' %}
{% load static %}








{% block contenido %}
	


	<h1>NOTICIAS ACTUALES</h1>
	<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"method="GET">

		<div class="input-group">
			<input type="text" class="form-control bg-light border-5 small" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
				<div class="input-group-append">
					<i class="icon icon-search"></i>
					<button type="submit" class="boton btn-success">Buscar</button>
				</button>
			</div>
		</div>
	</form>
	<br>
							
  			
			
	
	
		{% for n in notis %}
			<h2>{{ n.titulo }}</h2>
			<div class="card-body">
				<h5 class="card-title"><p>CATEGORIA: {{ n.categoria.nombre }}</p>
				{% if n.autor %}
					<p>AUTOR: {{ n.autor }}</p></h5>
				{% endif %}
					
					<p class="card-text"><p>CUERPO: {{ n.cuerpo }}</p></p>
					<a href="{% url 'noticias:detalle_noticias' n.pk %}" class="btn btn-primary">VER MAS</a>
				</div>
			  </div>	
			{% if n.imagen %}
				<img src="{{ n.imagen.url }}" width="100px" height="100px">
			{% else %}
				<p>NO TIENE IMAGEN </p>
			{% endif %}
						  
			{% endfor %}

			{% include 'paginacion.html' %}

{% endblock contenido %}
			
	

		

		
		
	
















